{% extends 'webapp/base.html' %} {% block content %}

<div class="card">
  <strong> {{record.last_name|upper}} {{record.first_name}} </strong>

  <div class="card-body">
    <hr />

    <p><strong> ID: </strong> {{record.id}}</p>

    <p><strong> Email: </strong> {{record.email}}</p>

    <p><strong> Phone: </strong> {{record.phone}}</p>

    <p><strong> Address: </strong> {{record.address}}</p>
  </div>
</div>
<br>
<a href="{% url 'dashboard' %}" class="btn btn-secondary">Back</a>
&nbsp;
<a  href ="{% url 'update-record' record.id %}" class="btn btn-secondary">Update</a>
&nbsp;
<a  href ="{% url 'delete-record' record.id %}" class="btn btn-secondary">Delete</a>


{% endblock %}
